@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
	--border: 2px dashed cyan;
	--radius: 0.5rem;
}

html {
	font-family: "Press Start 2P";
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
}
body {
	position: relative;
	font-size: 1.5rem;
	text-align: center;
}
#root {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
.game-bg {
	z-index: -1;
	position: absolute;
	width: 100vw;
	height: 100vh;
}
.title {
	font-size: 2.5rem;
	margin: 2rem;
}
#lbHello {
	font-size: 1.2rem;
}
.menu-container {
	position: absolute;
	height: 35rem;
	top: 50%;
	transform: translateY(-20%);
	justify-items: center;
}
.menu-container * {
	margin-bottom: 1rem;
}
input {
	height: 3.5rem;
	border-radius: var(--radius);
}
button {
	height: 3.5rem;
	border-radius: var(--radius);
	display: block;
	margin-left: 50%;
	transform: translateX(-50%);
	font-weight: 600;
}
.game-point {
	position: absolute;
	border: 2px solid white;
	border-radius: 20%;
}

.game-container {
	width: 60%;
	margin-top: 4rem;
}
.game-map {
	width: 65%;
	float: left;
	text-align: left;
	border: var(--border);
}

.game-info {
	float: right;
	width: 35%;
}
.info-container :nth-last-child(0) {
	background-color: black;
}
.info-container {
	border: var(--border);
	height: 4rem;
	margin-bottom: 1rem;
}
.info-desc {
	position: absolute;
	transform: translate(10%, -50%);
}
.info-content {
	margin: 1rem;
}
#nextBox {
	position: relative;
	background-color: black;
	left: -20%;
	top: 20%;
}
#nextBoxContainer {
	height: 15rem;
}
